<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Social Dashboard</title>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        /* Custom scrollbar styles */
        ::-webkit-scrollbar {
            width: 8px;
            height: 8px;
        }

        ::-webkit-scrollbar-thumb {
            background-color: #e0e0e0; /* Light grey color for the scrollbar thumb */
            border-radius: 4px;
        }

        ::-webkit-scrollbar-track {
            background-color: #f9f9f9; /* Almost white color for the scrollbar track */
        }
    </style>
</head>
<body class="bg-gray-50">
    {{template "content" .}}
</body>
</html>